.root {
    -fx-background-color: #141414;
}

.button {
    -fx-background-color: #e50914;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 0);
}

.button:hover {
    -fx-background-color: #f44336;
}

.button:pressed {
    -fx-background-color: #d32f2f;
}

.list-view {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 5, 0.0, 0, 0);
}

.list-view:hover {
    -fx-background-color: #444;
}