/* MainCss.css */

/* Customize button colors with gold gradient */
.mfx-button {
    -fx-background-color: linear-gradient(to bottom, #ffd700, #ffcc00); /* Gold gradient */
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/* Dark blue to dark shade of blue gradient background for all Backgrounds */
.backGround {
    -fx-background-color: linear-gradient(to bottom, #000080, #000033); /* Dark blue to dark shade of blue gradient */
}

.list-view {
    -fx-orientation: vertical;
}

.logo {
    /* Set the background image using the URL to the resource */
    -fx-background-image: url("/images/easvlogo.jpg");
    /* Set the size of the background image */
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}
.logo2 {
    /* Set the background image using the URL to the resource */
    -fx-background-image: url("/images/easvlogo.png");
    /* Set the size of the background image to stretch to fit the entire button */
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
}

/* Styles for labels */
.flowLabel {
    -fx-font-size: 16px;
    -fx-background-color: white;
    -fx-text-fill: black;
}
