/* MainCss.css */

/* Customize button colors with gold gradient */
.mfx-button {
    -fx-background-color: linear-gradient(to bottom, #ffd700, #ffcc00); /* Gold gradient */
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

/* Dark blue to dark shade of blue gradient background for all Backgrounds */
.backGround {
    -fx-background-color: linear-gradient(to bottom, #000080, #000033); /* Dark blue to dark shade of blue gradient */
}

.list-view {
    -fx-orientation: vertical;
}
